---
import Button from "@/components/Button.astro";
import TextInput from "@/components/TextInput.astro";
import { useI18n } from "@/i18n/useI18n.astro";

const isRegistrationEnabled = import.meta.env.REGISTRATION_ENABLED == "true";

if(!isRegistrationEnabled) {
    return Astro.redirect("/")
}

const i18n = useI18n(Astro.preferredLocale);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="light dark" />
		<meta name="darkreader-lock" />
		<title>MySchedule - {i18n.signup}</title>
    </head>

    <body>
        <h1>MySchedule</h1>

        <form action="/api/auth/signup" method="post">
            <TextInput name="username" placeholder={i18n.username} autofocus required />
            <TextInput name="email" type="email" placeholder={i18n.email} required />
            <TextInput name="password" type="password" placeholder={i18n.password} required />

            <Button class="action" type="submit" text={i18n.signup} />
        </form>

        <a href="/auth/signin" class="hint">{i18n.already_have_account}</a>
    </body>
</html>

<style lang="scss">
    @use "@/styles/reset";
    @use "@/styles/colors";

    body {
        min-width: 100%;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.4rem;
    }

    h1 {
        font-weight: 800;
        font-size: 2.5em;
        font-variation-settings: "wdth" 125;
        font-weight: 900;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 17.5rem;
        gap: .8rem;
    }

    .action {
        margin-top: .2rem;
        width: 100%;
        padding-block: .8em;
    }

    .hint {
        color: rgb(78, 78, 78);
        font-size: .9em;
    }

    @media (prefers-color-scheme: dark) {
        .hint {
            color: rgb(183, 183, 183);
        }
    }
</style>